html,
body {
    font-family: 'Montserrat','Open Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #ffffff;
    color: #333333;
    width: 100%;
    padding: 0;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
section { 
    padding: 70px 0px 60px;
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    max-width: 100%;
}
.bg_overlay {
	background:rgba(0, 0, 0, .6);
	width:100%;
	top:0;
	left:0;
}
.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

/* LINKS AND BUTTONS */
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn-yellow {
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
	background: #ffc600;
    color: #000;
    padding: 10px 30px;
    text-transform: uppercase;
}
ul, 
ol {
    list-style: none;
    padding: 0;
}
.bg-yellow {
    	background: #ffc501;
}
.text-yellow {
    color: #ffc600;
}
.text-white {
    color: #fff;
}
.title_section {
	border-right: 3px solid #000;
    color: #000;
    line-height: 2;
    margin-right: 20px;
    padding-right: 14px;
    text-transform: uppercase;
}
.title_section span {
	font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 20px;
}
h1 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 900;
    font-size: 3.8em;
    margin: 0;
}
h2 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    margin: 0;
}

/* Banner
======================= */
#banner {
	background: url('../images/bg-1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    height: 595px
}
.banner .bg_overlay {
	height: 100%;
}
.banner .navbar-default {
	background-color: transparent;
    border: none;
    margin: 0;
}
.main_banner_area {
	position: relative;
    top: 215px;
}
.main_banner_area p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    font-size: 40px;
	color: #fff;
}

/* Navigation
======================= */
nav.navbar.nav-body.navbar-default.affix-top {
    background-color: transparent;
    border: none;
    font-weight: 500;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffc501;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffc501;
    background-color: transparent;
}
.navbar-default li:hover:after,
.navbar-default li.active:after{
    border-bottom: 3px solid #eebf3f;
    content: " ";
    display: block;
    position: relative;
    top: -10px;
    right: -7px;
    width: 80%;
    z-index: 0;
}
nav.navbar.nav-body.navbar-default.affix {
    background-color: #fff;
    border-bottom: 1px solid rgba(51, 51, 51, 0.41);
    border-radius: 0;
    font-weight: 500;
    box-shadow: 0 2px 2px #333;
    margin-bottom: 0px;
    -webkit-transition: all 0.4s ease 0s;
    moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

/* About
======================= */
.main_about_area {
	padding-top: 30px;
}
.about .title_section span {
	font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.main_about_area h2 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.desc_about {
	padding-top: 30px;
}
.desc_about p {
	padding-top: 10px;
}
.desc_about p:nth-child(3) {
	padding-bottom: 40px;
}
.desc_about .btn-yellow {
	padding: 10px 100px;
}

/* Service
======================= */
section#service.service {
    padding-bottom: 80px;
}
.main_service_area {
    padding: 90px 0px 40px;
}
.box_service {
	border: 2px solid #ffc501;
    color: #000;
    padding: 60px 20px;
}
.box_service span {
    font-weight: 500;
	background: #ffc501;
    color: #000;
    padding: 10px;
    border-radius: 50%;
}
.main_service_area .col-md-4:nth-child(1) .box_service span {
	padding-left: 13px;
}
.main_service_area .col-md-4:nth-child(2) .box_service span {
	padding: 10px 15px;
}
.box_service p:nth-child(3){
    color: #646464;
}
.box_service .title_item {
	font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 0px;
    margin: 0;
    text-transform: uppercase;
}
.box_service:hover {
    background: #ffc501;
	border-color: #000;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.box_service:hover span {
	background: #000;
    color: #fff;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.box_service:hover p:nth-child(2) {
	color: #fff;
}
.box_service:hover p:nth-child(3) {
	color: #000;
}


/* Skill
======================= */
.main_skill_area {
	padding-top: 60px;
}
.barWrapper {
	padding-bottom: 10px;
}
.tooltip{ 
  position:relative;
  float:right;
}
.tooltip > .tooltip-inner {
    font-weight:bold; 
    font-size:13px;
    background-color: #eebf3f; padding:5px 15px;
    color:rgb(23,44,66);
}
.popOver + .tooltip > .tooltip-arrow {	
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; 
    border-top: 5px solid #eebf3f;
}
.progress{
    border-radius:0;
    height: 35px;
    overflow:visible;
}
.progress-bar{
    background: #000; 
    height: 35px;
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
}

/* Portfolio
======================= */
.work_nav {
	padding-top: 70px;
    padding-bottom: 30px;
}
.work_nav ul li{
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    color: #333333;
	display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
    text-transform: uppercase;
}
.work_nav ul li:hover,
.work_nav ul li.active {
    color: #eebf3f;
}
.work_nav li:hover:after,
.work_nav li.active:after {
    border-bottom: 3px solid #eebf3f;
    content: " ";
    display: block;
    margin-right: -5px;
    width: 100%;
    z-index: 0;
}
.main_work .item {
	padding-bottom: 25px;
}
.item .desc_work {
	position: absolute;
    top: 3%;
    right: 8%;
    padding: 120px 90px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.74);
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.item .desc_work h4 {
	font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.item .desc_work:hover {
	opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* Testimonial
======================= */
#testi-carousel {
	padding-top: 70px;
}
#testi-carousel span.fa {
	font-size: 50px;    
}
#testi-carousel h4 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #000;
	padding-top: 30px;
}
#testi-carousel p {
    font-weight: 400;
    font-size: 14px;
	color: #000;
}
#testi-carousel .text-white {
    font-weight: 500;
	font-size: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    border: 2px solid #fff;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    color: #eebf3f;
}



@media (min-width: 1200px)
.container {
    width: 1115px;
}